.description{
    padding: 25px 0;
    @include media-breakpoint-up(md){
        padding: 80px 0;
    }
}

.conhecer{
    .list-conhecer{
        list-style: none;
        padding-left: 0;
        @include media-breakpoint-up(md){
            display: flex;
            flex-wrap: wrap;
        }
        .card-box{
            //display: flex;
            //flex-direction: column;
            text-align: center;
            @include media-breakpoint-up(md){
                width: 33%;
            }
            .box-img{
                //width: 100%;
                display: flex;
                justify-content: center;
                padding-bottom: 20px;
                img{
                   width: 80%;
                }
            }
            .box-content{
                padding-bottom: 10%;
                button{
                    width: 80%;
                    @include media-breakpoint-up(md){
                        width: 60%
                    }
                }
            }
        }
    }
}

.informacao{
    @extend %background_tenth;
    background-repeat: no-repeat;
    background-position: right;
    background-size: 55% 100%;
    padding: 80px 0px;
    @include media-breakpoint-down(md){
        background-image: none !important;
    }
}