.list-cartilhas{
    .cartilhas-interna{
        padding-left: 0;
        li{
            display: flex;
            flex-direction: column;
            border-bottom: 1px solid $third;
            padding: 15px 0;
            a{
                @extend %color_third;
                &:hover{
                    @extend %color_seventh;
                }
            }
            &:last-child{
                border-bottom: unset;
            }
        }
    }
}