.agenda{
    .tabela-de-eventos{
        padding-left: 0;
        .titulo-tabela{
            display: flex;
            justify-content: space-around;
            padding-left: 0;
            li{
                @extend %background_seventh;
                @include rhythm(14,16);
                color: #fff;
                font-weight: 800;
                list-style: none;
                padding: 10px 60px;
                text-align: center;
                max-width: 25vw;
            }
        }
        .list-eventos{
            display: flex;
            justify-content: space-around;
            padding-left: 0;
            li{
                @include rhythm(14,16);
                @extend %color_third;
                padding: 20px 40px;
                list-style: none;               
                display: flex;
                justify-content: center;
                align-items: center;
                p{
                    @include rhythm(14,16);
                }
                &:before{
                    content: "";
                    width: 1px;
                    height: 85px;
                    position: absolute;
                    @extend %background_third;
                    left: 0;
                }
                &:first-child{
                    &:before{
                        content: none;
                    }
                }
                &:nth-child(1){
                    font-weight: 700;
                }
            }
        }
    }   
}

.page-template-template-page-eventos{
    .fale-conosco{
        @extend %background_tenth;
        input{
            background: transparent;
        }
        textarea{
            background: transparent;
        }
    }
    .avalie{
        background-color: unset;
    }
}