.fique-por-dentro{
    .list-post{
        padding-left: 0;
        .card{
            list-style: none;
            padding-bottom: 3%;
            padding-left: 0;
            padding-right: 0;
            @include media-breakpoint-up(md){
                display: flex;
            }
            .card-header{
                padding-left: 0;
                padding-right: 0;
                @include media-breakpoint-down(md){
                    padding-bottom: 20px;
                }
                img{
                    width: 100%;
                    height: 100%;
                }
            }
            .card-content{
                span{
                    @include rhythm(12,14);
                }
                h3{
                    @extend %color_seventh;
                }
            }
        }
        .pagination{
            text-align: center;
            .page-numbers{
                @include rhythm(25,29);
                font-weight: 400;
                &.current{
                    font-weight: 700;
                }
            }
        }
    }
}