footer{
    @extend %background_seventh;
    padding: 80px 0 10px;
    .footer-menu-content{
        @include media-breakpoint-down(md){
            flex-direction: column;
            text-align: center;
        }
        .footer-menu{
            display: flex;
            list-style: none;
            @include media-breakpoint-down(md){
                flex-wrap: wrap;
                padding-left: 0;
                padding-top: 20px;
            }
            .sub-menu{
                @include media-breakpoint-down(md){
                    display: none;
                }
            }
            li{
                padding: 0px 20px;
                display: flex;
                flex-direction: column;
                @include media-breakpoint-down(md){
                    @include rhythm(12,14);
                    //padding: 20px 20px;
                    //border-bottom: 1px solid #87f04f;
                    width: 100%;
                }
                .pages{
                    @include media-breakpoint-up(md){
                        font-weight: 700;
                    }
                    @extend %color_eleventh;
                }
                .sub-menu {
                    @include media-breakpoint-up(md){
                        display: flex;
                        flex-direction: column;
                    }
                }
                a{
                    @extend %color_eighth;
                    @include rhythm(10,15);
                    font-weight: 400;
                    &:first-child{
                        @include media-breakpoint-down(md){
                            @include rhythm(18,21);
                        }
                    }
                    @include media-breakpoint-down(md){
                        padding-bottom: 5px;
                    }
                }
                .pages{
                    @include rhythm(14,14);
                    padding-bottom: 20px;
                }
            }
        }
    }
    .direitos{
        text-align: center;
        @include media-breakpoint-down(md){
            padding-bottom:4rem;
        }
        @include media-breakpoint-up(md){
            padding-top:7rem;
        }
        p{
            @extend %color_eleventh;
            @include rhythm(12,16);
        }
    }
}