.integrity-app{
    padding: 80px 0 0;
}
.faq{
    .list-faq{
        .box-perguntas{
            padding-top: 20px;
            .pergunta{
                border-bottom: 1px solid $twelfth;
                padding-bottom: 5px;
                display: flex;
                align-items: center;
                font-weight: 700;
                .arrow {
                    border: solid $thirteenth;
                    border-width: 0 2px 2px 0;
                    display: inline-block;
                    padding: 3px;
                  }
                  
                  .up {
                    transform: rotate(-135deg);
                    -webkit-transform: rotate(-135deg);
                    margin-left: 20px;
                    margin-top: 5px;
                  }
                  
                  .down {
                    transform: rotate(45deg);
                    -webkit-transform: rotate(45deg);
                    margin-left: 20px;
                  }
            }
            .box{
                display: none;
            }
        }
    }
}