.interna-blog-post{
    .voltar{
        @extend %color_third;
        font-weight: 400;
    }
    .post-materia{
        h3{
            @extend %color_seventh;
        }
    }
    li{
        padding-bottom: 20px;
        @include rhythm(14,16);
        font-weight: 400;
    }
    ul{
        li{
            padding-bottom: 0;
        }
    }
}