.account{
    background-image: linear-gradient(to right,#fff 0,#fff 47%,#f8f8f8 43%);
    @include media-breakpoint-down(md){
        background-image: linear-gradient(to bottom,#fff 0,#fff 50%,#f8f8f8 43%);
    }
    .account-login{
        margin: 20px 0 60px;
        @include media-breakpoint-up(md){
            padding: 20px 0;
        }
        h3{
            padding-bottom: 20px;
        }
        .form{
            padding: 0;
            @include media-breakpoint-down(md){
                padding: 0 20px;
            }
            #loginform{
                p{
                    display: flex;
                    flex-direction: column;
                    padding-bottom: 0;
                    width: auto;
                    @include media-breakpoint-up(md){
                        //width: 60%;
                    }
                    input{
                        padding: 8px 0;
                        margin-bottom: 10px;
                        background: transparent;
                    }
                    label{
                        margin-bottom: 0;
                    }
                    &.login-password{
                        padding-bottom: 10px;
                    }
                    &.login-remember{
                        width: 50%;
                        float: left;
                        margin: 15px 0;
                    }
                    &.login-submit{
                        width: 50%;
                        input{
                            @extend %background_fifth;
                            @extend %color_seventh;
                            font-weight: 800;
                            border-color: $fifth;
                            padding: 13px 0;
                            &:hover{
                                border: 1px solid $first;
                                background: #fff;
                                color: $first;
                            }
                        }
                    }
        
                }
            }
        }
    }
    .accont-create{
        @include media-breakpoint-up(md){
            padding: 40px 7px;
        }
        form{
            label{
                display: flex;
                flex-direction: column;
                @include rhythm(14,16);
                font-weight: 400;
            }
            input {
                padding: 9px 15px;
                max-width: 238px;
                margin-right: 17px;
                background: transparent;
                @include media-breakpoint-up(md){
                    max-width: 258px;
                }
            }
            .input-row {
                display: flex;
                flex-direction: column;
                @include media-breakpoint-up(md){
                    flex-direction: row;
                    display: flex;
                    justify-content: space-between;
                }
                .inputs-tel {
                    display: flex;
                    @include media-breakpoint-down(md){
                        justify-content: center;
                    }
                    input[type=number] { 
                        -moz-appearance: textfield;
                        appearance: textfield;
                     
                     }
                     input[type=number]::-webkit-inner-spin-button { 
                        -webkit-appearance: none;     
                    }
                    .ddd {
                        max-width: 71px !important;
                    }
                    input.wpcf7-form-control.wpcf7-text.wpcf7-tel.wpcf7-validates-as-required.wpcf7-validates-as-tel {
                        max-width: 150px;
                        @include media-breakpoint-up(md){
                            max-width: 169px;
                        }
                    }
                }
                input.wpcf7-form-control.wpcf7-submit {
                    margin: 15px -5px;
                    padding: 10px 55px;
                }
            }
        }
    }
}
