.politicas{
    h2, h3, h6{
        @extend %color_seventh;
    }
    h2{
        padding-bottom: 15px;
    }
    p{
        padding-bottom: 20px;
    }
    h3{
        padding-bottom: 15px;
    }
    li{
        @include rhythm(14,16);
        @extend %color_third;
    }
}