.contato-assessoria{
    padding: 40px 0;
}

.realeases{
    @extend %background_tenth;
    padding: 80px 0;
    .box-container{
        border-bottom: 1px solid $twelfth;
        &:last-child{
            border-bottom: 0;
        }
    }
}