.galeria-de-videos{
    .videos{
        display: flex;
        flex-wrap: wrap;
        .video-galery{
            padding-bottom: 40px;
            li{
                list-style: none;
                iframe{
                    width: 100%;
                    max-height: 187px;
                }
            }
        }
    }
}